<html>
<body style="font: 14px Arial, Helvetica, sans-serif">
<h1 style="color: red; font-size: 26px">Código de confirmação gerado!</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0"
       style="max-width: 400px; color: #6F6F6F">
    <tr>
        <td style="padding: 10px 0">E-mail:</td>
        <td style="width: 30px">${userRecoveryCode.email}</td>
    </tr>
    <tr>
        <td style="padding: 10px 0">Código:</td>
        <td style="width: 30px">${userRecoveryCode.code}</td>
    </tr>
</table>
</body>
</html>